.firstChoiceWrapper {
    border: 1px solid #BCE4F1;
    border-radius: 10px;
    width: 60.25rem;
    height: 15rem;
}

.secondChoiceWrapper {
    border: 1px solid #BCE4F1;
    border-radius: 10px;
    width: 60.25rem;
    height: 20rem;
}

.homeContainer {
    width: 45%;
}

.divider {
    width: 95%;
}

.inputField {
    border: 1px solid #BCE4F1;
    border-radius: 10px;
}

.borderBottom {
    border-bottom: 1px solid #BCE4F1;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

  