// .mainContentWrapper {
//     max-height: 3262px;
// }

.subHeader {
    max-width: 42rem;
}

.storyContainer {
    max-width: 63rem;
    height: 22.2rem;
    border-radius: 20px;
    position: relative;

    .storyContent {
        max-width: 34rem;
    }
}

.homeServiceHeader {
    max-width: 39rem;
    line-height: 3rem;
}

.homeServiceContent {
    max-width: 28rem;
    line-height: 2rem;
}



.customerContent {
    max-width: 22rem;
    line-height: 1.5rem;
}

.inputWrapper {
    margin-bottom: 20rem;

    .input {
        max-width:23rem;
        border: 1px solid #e5e7eb;
        border-radius: 4px;
        outline: none;       
    }

    .emailInput {
        max-width:18rem;
        border: 1px solid #e5e7eb;
        border-radius: 4px;
        outline: none; 
    }

    ::placeholder {
        font-weight: 300;
    }
   
}

.whiteArrowRightWrapper {
    border-radius: 5px;
    background: #2AA2D2;

    .whiteArrowRight {
        margin: .5rem auto;
    }
}




